fastapi
uvicorn
pydantic
requests
psycopg2-binary
pytz
python-jose[cryptography]
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
httpx>=0.20.0
jinja2
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
psutil
pyroscope-io
prometheus_client
sqlalchemy
python-multipart
