[Unit]
Description=Anomalia VictoriaLogs Insert Service
After=network.target

[Service]
ExecStart=/usr/local/bin/vlinsert -httpListenAddr={{ vlinsert_ip | default(ansible_host) | default('127.0.0.1') }}:{{ vlinsert_port | default('8480') }} -syslog.listenAddr.tcp=:{{ rsyslog_port | default('5140') }} -syslog.listenAddr.udp=:{{ rsyslog_port | default('5140') }} -syslog.tenantID.tcp={{ syslog_accountid | default('0') }}:{{ syslog_projectid | default('1') }} -syslog.tenantID.udp={{ syslog_accountid | default('0') }}:{{ syslog_projectid | default('1') }} -syslog.compressMethod.tcp=gzip {%- for host in groups.get('vlogs_storage_nodes', []) %} -storageNode={{ hostvars[host].vlstorage_ip | default(hostvars[host].ansible_host) | default('127.0.0.1') }}:{{ hostvars[host].vlstorage_port | default(hostvars[host].ansible_port | default('8482')) }}{% endfor %}

Restart=always
User=root

[Install]
WantedBy=multi-user.target
